.logo {
    float: left;
}

.logo a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(img/d’Perfume@2x.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 100px;
    background-size: contain;
}

.shopping-car {
    position: relative;
}

.num {
    position: absolute;
    top: 27px;
    left: 10px;
    display: block;
    text-align: center;
    font-size: 12px;
    width: 13px;
    line-height: 1;
    border: 1px solid #916000;
    border-radius: 7px;
}